---
layout: default
title: Unofficial PrimeFaces
prettify: true
---

<div class="well well-small">
  Build Status with CloudBees:
  <a href="https://buildhive.cloudbees.com/job/primefaces/job/primefaces/">
    <img src="https://buildhive.cloudbees.com/job/primefaces/job/primefaces/badge/icon"/>
  </a>
</div>

<h3>Unofficial Releases</h3>

<p>Unofficial Maven Repository for non-publicly released PrimeFaces versions.</p>

<h4>Warnings</h4>

<div class="alert alert-danger">
  In the <strong>3.5.9-UR</strong> and <strong>3.5.10-UR</strong> releases the feature <a href="{{ site.issue_tracker }}5850">5850</a> ended up coming down from upstream version.
  See the <a href="/widgetvar-workaround.html">workaround</a> if you are using one of them.
</div>

<div class="alert alert-danger">
  From <strong>3.5.8-UR</strong> releases has one bug in <code>AjaxBehaviour.saveState</code>. In the <strong>3.5.13-UR2</strong> release has fixed.
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Version</th>
      <th>Base</th>
      <th>Binary</th>
      <th>Sources</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for release in site.releases.unofficials %}
      {% capture full_version %}{{ release.version }}-{{ release.suffix }}{% endcapture %}
    <tr>
      <td>{{ release.version }}-{{ release.suffix }}</td>
      <td><a href="{{ site.browse_source }}/primefaces/trunk?r={{ release.revision }}" title="{{ release.date_time | date_to_rfc822 }}">r{{ release.revision }}</a></td>
      <td><a href="{{ site.repo_url }}/org/primefaces/primefaces/{{ full_version }}/primefaces-{{ full_version }}.jar">primefaces-{{ full_version }}.jar</a>
      <td><a href="{{ site.repo_url }}/org/primefaces/primefaces/{{ full_version }}/primefaces-{{ full_version }}-sources.jar">primefaces-{{ full_version }}-sources.jar</a>
      <td><a href="/changelog/{{ release.version }}.html">ChangeLog</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>Downloading <strong>official</strong> and <strong>unofficial</strong> releases with Maven:</p>

<pre class="prettyprint lang-xml">
&lt;repository&gt;
  &lt;id&gt;prime-github-repo&lt;/id&gt;
  &lt;name&gt;Unofficial PrimeFaces Maven Repository&lt;/name&gt;
  &lt;url&gt;http://primefaces.github.io/repository&lt;/url&gt;
  &lt;layout&gt;default&lt;/layout&gt;
&lt;/repository&gt;
</pre>

<p class="alert alert-danger">This unofficial repository <b>does not contain</b> artifacts for <b>themes</b>. Therefore, keep the official repository in your POM.</p>

<h3>Lastest Official Release</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Version</th>
      <th>Binary</th>
      <th>Sources</th>
    </tr>
  </thead>
  <tbody>
    {% for release in site.releases.officials %}
    <tr>
      <td>{{ release.version }}</td>
      <td><a href="{{ site.repo_url }}/org/primefaces/primefaces/{{ release.version }}/primefaces-{{ release.version }}.jar">primefaces-{{ release.version }}.jar</a>
      <td><a href="{{ site.repo_url }}/org/primefaces/primefaces/{{ release.version }}/primefaces-{{ release.version }}-sources.jar">primefaces-{{ release.version }}-sources.jar</a>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>Or go to <a href="http://www.primefaces.org">Official Site</a> for download official releases.</p>

