<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="binaries, sources of unreleased versions">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/site.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    {% if page.prettify %}<link href="{{ site.baseurl }}/assets/css/google-code-prettify.css" rel="stylesheet">{% endif %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ site.analytics.track_id }}']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>
  </head>
  <body>

    <div id="wrap">

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ site.baseurl }}/">PrimeFaces <span class="label label-important">unofficial</span></a>
            <div class="nav-collapse collapse visible-desktop">
              <p class="navbar-text pull-right" style="margin-right:100px" title="Build Status with CloudBees">
                <a href="https://buildhive.cloudbees.com/job/primefaces/job/primefaces/" class="navbar-link">
                   <img src="https://buildhive.cloudbees.com/job/primefaces/job/primefaces/badge/icon"/>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
     
{{ content }}

      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Unofficial Resources for <a href="http://www.primefaces.org">PrimeFaces</a>.</p>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    {% if page.prettify %}<script src="{{ site.baseurl }}/assets/js/google-code-prettify.js"></script>{% endif %}

    {% if page.prettify %}<script type="text/javascript">
!function ($) {

  $(function(){

    // make code pretty
    window.prettyPrint && prettyPrint()

  })

}(window.jQuery)
    </script>{% endif %}

  </body>
</html>

